*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: sans-serif;
}
body{
    background-color: #001;
    display: flex;
}
.menu  ul li .img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff ;
    flex-shrink: 0;
}
.menu  ul li img{
    width: 100%;
}
.profile h2{
    font-size: 20px;
    text-transform: uppercase;

}
.profile{
    align-items: center;
    display: flex;
    gap: 30px;
}
.menu{
    width: 60px;
    height: 100vh;
    background-color: #123;
    padding: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.menu:hover{
    width: 260px;
}
.menu ul{
    position: relative;
    height: 95%;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    text-decoration: none;
    gap: 40px;
    border-radius: 8px;
    transition: all 0.5s ease;
}
.menu ul li a:hover, .active,.data-info .box:hover{
    background-color: #ffffff55;
    cursor: pointer;
}
.menu ul li a i{
    font-size: 30px;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: red;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #077bef;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data p{
    font-size: 20px;

}
.data-info .box span{
    font-size: 30px;
} 
/* frag morgen mal, ob es normal ist, dass die Wörter außerhalb der Width /überfluten/ oder nicht.
/* دقيقة 29 بالفيديو */ 